{% extends "base.html" %}
{% block content %}

	<section id="wrapper">
		<header id="header">
			<!--<img id="avatar" class="2x" src="{% static '/images/logo.jpg' %}"/>-->
			<h1>{% block title %}Sin Humo{% endblock title %}</h1>
			<nav>
				<ul>
            		<li>
						<a title="listen in itunes" target="_blank" href="https://itunes.apple.com/us/podcast/sin-humo/id1190680127?mt=2">
							<span class="fa-stack fa-2x">
								<i class="fa fa-square-o fa-stack-2x"></i>
								<i class="fa fa-apple fa-stack-1x"></i>
							</span>
						</a>
					</li>
            		<li>
						<a title="grab rss feed" target="_blank" href="http://feeds.soundcloud.com/users/soundcloud:users:22297335/sounds.rss">
							<span class="fa-stack fa-2x">
								<i class="fa fa-square-o fa-stack-2x"></i>
								<i class="fa fa-rss fa-stack-1x"></i>
							</span>
						</a>
					</li>
            		<li>
						<a title="follow us at twitter" target="_blank" href="https://twitter.com/sinhumopodcast">
							<span class="fa-stack fa-2x">
								<i class="fa fa-square-o fa-stack-2x"></i>
								<i class="fa fa-twitter fa-stack-1x"></i>
							</span>
						</a>
					</li>
          		</ul>
			</nav>
			<h2>Un Podcast sobre programación y tecnología. <strong>Libre de humo.</strong></h2>
			<h2>De la mano de <a target="_blank" href="https://twitter.com/esacrosa">@esacrosa</a> y <a target="_blank" href="https://twitter.com/fernandezpablo">@fernandezpablo</a></h2>
		</header>

		<section id="posts">
			{% for post in posts %}
				<div class="post">
					<div class="title"><strong>{{ post.date|date:"d-m-Y" }}</strong> - <a href='{{ ROOT_URL }}/{{ post.path }}'>{{ post.title }}</a></div>
					<div class="body">{{ post.body }}</div>
				</div>
				<hr>
			{% endfor %}
		</section>
	</section>

{% endblock content %}
